#redactor-modal #redactor-modal-list.redactor-emojione-list ul :after {
    clear: both;
}

#redactor-modal #redactor-modal-list.redactor-emojione-list li {
    float: left;
    border-bottom: none;
}

.re-emotions {
    font-family: Symbola;
}

.re-emotions:before {
    content: "\1f600";
}

.label-red {
    color: #fff;
    background: #c92020;
    padding: 0 7px;
    border-radius: 4px;
}